@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap");
html {
  box-sizing: border-box;
  --duration: 0.45s;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --color-1: #d5dadd;
  --color-2: #51d5c2;
}
html *,
html *::before,
html *::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  height: 100vh;
  font-family: "Nunito", sans-serif;
  padding-bottom: 500px;
}
#light {
  display: none;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 25px 70px;
  align-items: center;
  position: relative;
}
nav a {
  text-decoration: none;
  font-size: 35px;
  color: rgb(127, 199, 191);
}
.menu {
  margin: 0;
  width: 42em;
  display: flex;
  user-select: none;
  position: relative;
  align-items: center;
  justify-content: center;
  -webkit-tap-highlight-color: transparent;
}
.menu::after {
  height: 5%;
  width: 35%;
  bottom: 10%;
  content: " ";
  position: absolute;
  border-radius: 1em;
}
.menu__item {
  all: unset;
  flex-grow: 1;
  display: flex;
  cursor: pointer;
  overflow: hidden;
  padding-top: 0.5em;
  position: relative;
  align-items: center;
  color: var(--color-1);
  justify-content: center;
  transition: flex-grow var(--duration) var(--cubic);
}
.menu__icon {
  font-size: 1.05em;
  stroke: currentColor;
  transition: transform var(--duration) var(--cubic);
}
.menu__item::before {
  top: 9%;
  left: 18.4%;
  width: 1.5em;
  height: 1.5em;
  content: " ";
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  transform-origin: center;
  background-color: #fdecef;
  transition: transform var(--duration) var(--cubic);
}
.menu__item::after {
  left: 0;
  bottom: 0;
  content: " ";
  height: 0.25em;
  position: absolute;
  border-radius: 2em;
  transform-origin: left center;
  background-color: currentColor;
  width: calc(var(--lineWidth) + 5px);
  transform: translate3d(3em, 0, 0) scaleX(0);
  transition: transform calc(var(--duration) + 0.2s) var(--cubic);
}
.menu__text {
  left: 4.15em;
  font-size: 1.5em;
  position: absolute;
  text-transform: capitalize;
  letter-spacing: 0.01em;
  transform: translate3d(0, 109%, 0);
  transition: transform calc(var(--duration) / 3.7);
}
.menu__item.active {
  flex-grow: 2.7;
  color: var(--color-2);
}
.menu__item.active .menu__icon {
  transform: translate3d(-95%, 0, 0);
}
.menu__item.active::before {
  transform: scale(1);
}
.menu__item.active::after {
  transform: translate3d(6.3em, 0, 0) scaleX(1);
  transition: transform var(--duration) var(--cubic);
}

.menu__text.active {
  transform: translate3d(0, 0, 0);
  transition: transform calc(var(--duration) / 1.5);
}

.profil {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 25px;
  padding: 25px 0;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 25px 70px;
  border-top: 0.5px solid rgb(103, 96, 96);
  align-items: center;
}
footer .footer-logo {
  font-size: 35px;
  text-decoration: none;
  font-size: 35px;
  color: rgb(127, 199, 191);
  display: flex;
  margin-right: 50px;
}
.footer-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
}
.footer-icons a {
  color: #8a8a87;
  font-size: 35px;
}
.footer-icons a:hover {
  color: #51d5c2;
  transition: all 0.3s;
  font-size: 37px;
}

@media (max-width: 950px) {
  footer {
    padding-bottom: 100px;
  }
  .menu {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0;
    width: 100%;
    display: flex;
    user-select: none;
    align-items: center;
    justify-content: center;
    -webkit-tap-highlight-color: transparent;
    border-top: 1px solid #51d5c2;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding-bottom: 10px;
  }
  .menu::after {
    height: 5%;
    width: 50%;
    bottom: 10%;
    content: " ";
    position: absolute;
    border-radius: 1em;
  }
  img {
    width: 350px;
  }
}
.theme {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
#desktop {
  background-color: #fff;
}

@media (max-width: 600px) {
  .menu__item {
    font-size: 25px;
  }
  .menu__item::before {
    display: none;
  }
  .menu__item.active::after {
    transform: translate3d(0, 5px, 0) scaleX(1);
    transition: transform var(--duration) var(--cubic);
  }
}
